@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
  align-self: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-list {
  width: 80vw;
  display: none;
  justify-content: space-evenly;
}

.toggleNav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  padding: 0 2vw;
}

nav a {
  text-decoration: none;
  color: #1a2236;
}

nav li {
  list-style: none;
}

.hero {
  padding: 0 5vw 5vw 5vw;
  margin: 5vh;
  display: flex;
  flex-direction: column;
}

button {
  width: 288px;
  height: 50px;
  background-color: #1a2236;
  color: white;
  align-self: center;
  margin-top: 7.813vw;
}

.projects {
  width: 100%;
  grid-template: 10% 1fr 1fr 1fr 1fr / 100%;
}

.projects-title {
  padding: 5vw;
}

.projects span {
  background-color: #98dede;
}

.projects button {
  background-color: #1a2236;
  border: 1px solid white;
  color: white;
  padding: 3.125vw;
  margin-top: 6.25vw;
  font-size: 5vw;
}

.project-box {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.project-box img {
  justify-self: flex-start;
}

.project-details {
  padding: 6.25vw;
  grid-template: 1fr 1fr 2fr / 100%;
}

.project-box h3 {
  padding: 0 0 5vw 0;
  color: white;
  margin: 0;
  font-size: 6.25vw;
  line-height: 80%;
  font-weight: 300;
}

.built {
  font-size: 3.125vw;
  height: 6.25vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.built span {
  margin-right: 3.125vw;
  padding: 0 2vw;
}

.about {
  margin: 17.5vw 5vw 5vw;
}

.about h2 {
  margin: 0;
}

.about button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90vw;
  height: 50px;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  color: white;
}

.about img {
  padding: 6.25vw;
}

.know-card {
  font-size: 5.625vw;
  color: white;
  width: 90vw;
}

.know-card ul {
  padding: 0 0 0 18vw;
}

.know-card h3 {
  font-size: 6.25vw;
  padding: 15vw 13vw 7vw;
}

.languages {
  width: 100%;
  height: 100%;
  background-color: #1c528a;
  background-image: url(img/languages.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 32vw;
}

.frameworks {
  width: 100%;
  height: 100%;
  background-color: #e2505c;
  background-image: url(img/frameworks.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 32vw;
}

.skills {
  width: 100%;
  height: 100%;
  background-color: #febf52;
  background-image: url(img/skills.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 32vw;
}

.contact {
  background-color: #f9f9fa;
  width: 100%;
  padding: 0 0 64px 0;
}

.contact-container {
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact ul {
  list-style: none;
  width: 100%;
  padding: 0;
}

.contact form span {
  position: absolute;
  float: left;
}

.contact h2 {
  margin: 10px 0 0 0;
}

.form-fields {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}

input[type="text"],
input[type="email"] {
  border: none;
  border-radius: 4px;
  padding: 23px 0 0 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  width: 90%;
}

textarea {
  border: none;
  border-radius: 4px;
  padding: 16px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1a2236;
  width: 90%;
}

.float-container {
  background-color: #fff;
  border: solid 1px grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 288px;
  height: 52px;
}

.float-textarea {
  height: 112px;
  background-color: #fff;
  border: solid 1px grey;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding: 0 8px;
  position: relative;
  width: 288px;
}

label {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: #7d7c84;
  position: absolute;
  padding-left: 16px;
}

footer {
  background-color: #1a2236;
  width: 100%;
  height: 150px;
}

.get-resume {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  padding: 32px 0 0 16px;
  display: flex;
}

.get-resume img {
  padding-left: 16px;
  height: 16px;
  width: 16px;
  align-self: center;
}

.get-cv {
  display: none;
}

.networks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 32px 0 40px 0;
}

.networks img {
  align-items: center;
}

@media (min-width: 1024px) {
   * {
    padding: 0;
    margin: 0;
  }

  h1, h2 {
    font-size: 110px;
  }

  header {
    height: 7vw ;
    box-shadow: 0px 0.5px 0px #dddfe6;
  }
  
  .toggleNav {
    display: none;
  }

  .logo-nav {
    display: none;
  }

  nav {
    width: 100%
  }

  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7vw;
  }

  .nav-list li {
    padding: 0 1.736vw;
  }
  
  .hero {
    background-image: url(img/image-geometry_1.svg);
    background-repeat: no-repeat;
    background-size: 50vw;
    background-position: right;
    display: flex;
    padding: 0;
    margin: 0;
  }

  .hero-content {
    width: 50%;
    height: 61vw;
    background-image: url(img/image_dots.svg);
    background-repeat: no-repeat;
    background-size: 12.15vw;
    background-position: right bottom;
  }

  .hero-content h1 {
    margin: 13.34vw 0 0 11.12vw;
    padding-bottom: 4.167vw;
  }
  
  .hero-content p {
    margin-left: 11.12vw;
    padding: 0 6.52vw 4.167vw 0;
  }

  .hero-content button {
    margin: 0 0 0 11.12vw;
    width: 17.64vw;
  }

  .projects {
    margin-top: 12.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-title {
    background-image: url(img/image_dots.svg);
    background-repeat: no-repeat;
    background-position: right top;
    width: 33.33vw;
  }

  .project-box {
    background-color: #fff;
  }
  .project-title h2 {
    padding: 0;
    transform: rotate(-90deg);
  }

  #img-1 {
    width: 66.67vw;
    height: auto;
  }
  
  #img-2, #img-3, #img-5, #img-6 {
    width: 32.29vw;
  }

  #img-5 {
  transform: translate(0, -6.25vw);
}
  
  #project-2 {
    display: flex;
    justify-content: flex-end;
    width: 67.71vw;
    height: 24.306vw;
    background-image: url(img/image-geometry_2.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 35.486vw;
  }
  
  #project-4 {
    width: 55.56vw;
  }
  
  #project-5 {
    width: 44.44vw;
    display: flex;
    align-items: flex-end;
    background-image: url(img/image-geometry_3.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 44.45vw;
  }
  
  .inv-box {
    width: 55.56vw;    
    background-image: url(img/image-geometry_4.svg), url(img/image-geometry_5.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right top, left top;
  }
  
  #project-6 {
    width: 44.44vw;
    display: flex;
    align-items: flex-start;
  }

  .project-img {
    width: auto;
    height: auto;
  }

  .project-details {
    display: none;
  }

  .about {
    padding: 12.5vw 0;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }

  .about button {
    width: 17.64vw;
    height: 4.86;
    font-size: 18px;
    align-self: flex-start;
    margin-top: 4.16vw;
  }

  .about img {
    padding: 0;
  }

  .about-content {
    width: 43.33vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 6.67vw;
  }
    
  .about-content p {
    width: 31vw;
    margin-top: 4.16vw;
  }

  .knowledge {
    align-self: flex-start;
  }
  
  .know-card {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-size: 1.25vw;
  }

  .know-card h3 {
    padding: 3.47vw 0 1.5vw 3.47vw;
    font-size: 1.39vw;
  }
  
  .know-card ul {
    padding-left: 3.47vw;
  }

  .languages {
    width: 20vw;
    height: 20vw;
    background-size: 7vw;
  }
  
  .frameworks {
    width: 20vw;
    height: 20vw;
    background-size: 7vw;
  }
  
  .skills {
    width: 20vw;
    height: 20vw;
    background-size: 7vw;
  }
  
  .inv-container {
    width: 20vw;
    height: 20vw;
    background-image: url(img/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-bottom: 1.5vw;
  }
  .contact {
    background-image: url(img/image-geometry_6.svg), url(img/image-geometry_7.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
    background-size: 15vw, 20vw;
  }

  .contact img {
    display: none;
  }
  
  .contact-container h2 {
    align-self: center;
  }
  
  .contact-container p {
    width: 38vw;
  }

  .contact button {
    margin-top: 5vh;
  }
  
  .form-fields {
    width: 38vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .float-container {
    width: 16vw;
  }

  .float-textarea {
    width: 38vw;
  }

  .form-fields span {
    display: block;
  }

  footer {
    display: flex;
    justify-content: space-between;
  }

  .get-resume {
    display: none;
  }

  .get-cv {
    display: flex;
    align-self: center;
    padding-left: 11.12vw;
    color: white;
  }

  .get-cv img {
    padding: 5px;
  }

  .networks {
    width: 20.556vw;
    margin-right: 5vw;
  }
}