@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url(fonts/PlayfairDisplay-Regular.ttf);
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #1a2236;
  height: 100vw;
  width: 100vw;
}

h1 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.nav-list {
  width: 80vw;
  display: none;
  justify-content: space-evenly;
}


.toggleNav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 55px;
  padding: 0 2vw;
}
  
nav a {
  text-decoration: none;
  color: #1a2236;
}

nav li {
  list-style: none;
}

.hero {
  padding: 0 5vw 5vw 5vw;
  margin: 5vh;
  display: flex;
  flex-direction: column;
}

.hero button {
  width: 288px;
  height: 50px;
  background-color: #1a2236;
  color: white;
  align-self: center;
  margin-top: 7.813vw;
}

.projects {
  width: 100%;
  grid-template: 10% 1fr 1fr 1fr 1fr / 100%;
}

.projects h2 {
  grid-area: 1 / 1 / 1 /1;
  background-color: white;
  padding: 5vw;
}

.projects span {
  background-color: #98dede;
}

.projects button {
  background-color: #1a2236;
  border: 1px solid white;
  color: white;
  padding: 3.125vw;
  margin-top: 6.250vw;
  font-size: 5vw;
}

.project-box {
  display: flex;
  flex-direction: column;
  background-color: #1a2236;
}

.project-box img {
  justify-self: flex-start;
}

.project-details {
  padding: 6.250vw;
  grid-template: 1fr 1fr 2fr / 100%;
}

.project-box h3 {
  padding: 0 0 5vw 0;
  color: white;
  margin: 0;
  font-size: 6.250vw;
  line-height: 80%;
  font-weight: 300;
}

.built {
  font-size: 3.125vw;
  height: 6.250vw;
  display: flex;
  justify-content: flex-start;
}

.built span {
  margin-right: 3.125vw;
  padding: 0 2vw;
}

.about {
  margin: 17.500vw 5vw 5vw;
}

.about h2 {
  margin: 0px;
}

.about button {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 90vw;
  height: 50px;
  background-color: #1a2236;
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  color: white;
}

.about img {
  padding: 6.25vw;
}
